<div class="container">
  <h1>All Genre Types of the Books</h1>

  <ul class="list-group">
    <% @genres.each do |genre| %>
      <li class="list-group-item">
        <%= link_to genre.name, genre_path(genre) %>
      </li>
    <% end %>
  </ul>
</div>
