<h1>All Stores</h1>
 <%= paginate @stores %>
<ul>
  <% @stores.each do |store| %>
    <li>
      <%= link_to store.name, store_path(store) %>
      <p><strong>Location:</strong> <%= store.location %></p>
      <p><strong>City:</strong> <%= store.city %></p>

    </li>
  <% end %>
</ul>
