<div class="container text-center">
  <h1>Welcome to the EBook Store.</h1>
  <p>On this website, you can find all the ebooks available and check their details.</p>

  <p>Explore our genres:</p>
  <%= link_to "All Genres", genres_path, class: "btn btn-primary" %>

  <p>Explore the Stores for the books:</p>
  <%= link_to "All Stores", stores_path, class: "btn btn-primary" %>

  <p>Explore all our books:</p>
  <%= link_to "All Books", menu_path, class: "btn btn-primary" %>
</div>
