/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';


.form-inline {
  justify-content: center;
}


.form-control {
  width: 250px;
}



.list-group-item {
  border: none;
  background-color: #f8f9fa;
}

.list-group-item:hover {
  background-color: #e9ecef;
}
.form-inline {
  background-color: #f0f7f9;
  color: #333333;
}


h1 ,h2,h3{
  color: #736e6b;
  text-shadow: 1px 1px 1px black;
}


.list-group-item {
  background-color: #ffffff;
  color: #333333;
}

a {
  color: #007bff;
  text-shadow: 1px 1px 0px rgb(17, 15, 15);
}
.container {
  text-align: center;
}